<div class="brief-container">
    <div class="brief-container__like-button" *ngIf="isLoggedIn$ | async">
        <mat-icon *ngIf="!isLiked" class="not-liked" (click)="tooglePlaylistLike()">
            favorite_border
        </mat-icon>
        <mat-icon *ngIf="isLiked" class="liked" (click)="tooglePlaylistLike()">
            favorite
        </mat-icon>
    </div>
    <div class="brief-container__header">
        <div class="image-placeholder">
            <mat-icon>music_note</mat-icon>
        </div>
        <button class="play-button">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </div>
    <span class="brief-container__title font-black-small-bold">
        Playlist name
    </span>
    <span class="brief-container__author font-black-small-regular">
        Author
    </span>
    <div class="brief-container__stats font-dark-gray-small-regular">
        <div class="stat">
            <mat-icon class="icon--big">
                play_arrow
            </mat-icon>
            <span>
                212k
            </span>
        </div>
        <div class="stat">
            <mat-icon  class="icon">
                favorite
            </mat-icon>
            <span>
                43k
            </span>
        </div>
    </div>
</div>
