<div class="home-container">
    <div class="home-container__header">
        <ng-container *ngIf="!(isLoggedIn$ | async)">
            <button class="rounded-button--medium-gray font-black-small-bold" (click)="navigateToRegisterForm()">
                Register
            </button>
            <button class="rounded-button--red-accent font-white-small-bold" (click)="navigateToLoginForm()">
                Login
            </button>
        </ng-container>
        <button *ngIf="isLoggedIn$ | async" class="rounded-button--medium-gray small-padding font-black-small-bold" (click)="logout()">
            <div class="logout-button-content">
                <mat-icon class="logout-icon">person</mat-icon>
                {{ userName }}
                <mat-icon class="logout-icon">exit_to_app</mat-icon>
            </div>
        </button>
    </div>
    <div class="home-container__sidebar">
        <app-sidebar [isLoggedIn]="isLoggedIn$ | async"></app-sidebar>
    </div>
    <div class="home-container__content">
        <div class="slider-section">
            <span class="font-black-medium-bold">
                Recommended playlists
            </span>
            <app-slider></app-slider>
        </div>
        <div class="slider-section">
            <span class="font-black-medium-bold">
                Recommended songs
            </span>
            <app-slider></app-slider>
        </div>
        <div class="slider-section">
            <span class="font-black-medium-bold">
                Recommended artists
            </span>
            <app-artist-brief-card></app-artist-brief-card>
        </div>
    </div>
    <div class="home-container__footer">
        <div *ngIf="(isLoggedIn$ | async)" class="login-prompt">
            <button class="rounded-button--light-gray font-black-small-bold" (click)="navigateToLoginForm()">
                Login
            </button>
            <span class="font-white-small-regular">
                to use the audio player and create your own library now
            </span>
        </div>
        <ng-container *ngIf="!(isLoggedIn$ |async)">
            <app-audio-player></app-audio-player>
        </ng-container>
    </div>
</div>
