table {
    width: 100%;
    table-layout: fixed;

    th, td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    .mat-column-position {
        width: 5%;
    }

    .mat-column-title {
        width: 25%;
    }

    .mat-column-artist {
        width: 20%;
    }

    .mat-column-genre, .mat-column-addedOn {
        width: 10%;
    }

    .mat-column-likes, .mat-column-playbacks {
        width: 15%;
    }
}