<div class="container">
    <div class="container__header">
        <div class="info">
            <div class="image-placeholder scale-placeholder">
                <mat-icon>music_note</mat-icon>
            </div>
            <div class="info__data">
                <span class="font-black-medium-bold">
                    {{ playlist.name }}
                </span>
                <span class="font-black-small-regular">
                    {{ playlist.author.userName }}
                </span>
                <div class="stats font-dark-gray-tiny-regular">
                    <div>
                        <mat-icon class="icon--big">
                            play_arrow
                        </mat-icon>
                        <span>
                            {{ playlist.playbacks }}
                        </span>
                    </div>
                    <div>
                        <mat-icon  class="icon">
                            favorite
                        </mat-icon>
                        <span>
                            {{ playlist.likes }}
                        </span>
                    </div>
                </div>
                <span class="font-dark-gray-tiny-regular">
                   {{ this.playlist.songs.length | i18nPlural:pluralMap }}
                </span>
            </div>
        </div>
        <div class="search-input">
            <mat-icon (click)="search()">search</mat-icon>
            <input [(ngModel)]="searchFilter" placeholder="Search for songs to add" class="font-black-small-regular">
            <mat-icon *ngIf="searchFilter" (click)="clearInput()">clear</mat-icon>
        </div>
    </div>
    <app-playlist-table [songs]="playlist.songs" [playlistId]="playlist.id"></app-playlist-table>
    <ng-container *ngIf="!!foundSongs">
        <div class="container__results-header">
            <span class="font-black-medium-bold">
                Found songs
            </span>
            <mat-icon (click)="clearResults()">close</mat-icon>
        </div>
        <span class="font-black-small-regular" *ngIf="!foundSongs.length">
            No songs found matching the filter "{{ this.searchFilter }}" 
        </span>
        <div class="container__results-grid">
            <app-song-brief-card
                *ngFor="let song of foundSongs"
                [song]="song"
                [playlistId]="playlist.id"
                [showMenu]="!(song.id | songInPlaylist:playlist.songs)"
                (addedSong)="addSongToPlaylist($event)">
            </app-song-brief-card>
        </div>
    </ng-container>
</div>
