:root {
    --red-accent-color: #F54B57;
    --blue-accent-color: #1D38ED;
    --white-color: #FFFFFF;
    --black-color: #141414;
    --light-black-color: #3E3E3E;
    --light-gray-color: #F5F5F5;
    --medium-gray-color: #C8C8C8;
    --dark-gray-color: #707070;
    --upload-song-bg-color: #EEEEEE;
}

$primary-font-family: "Lato";

$font-thin-weight: 100;
$font-light-weight: 300;
$font-regular-weight: 400;
$font-normal-weight: 500;
$font-semibold-weight: 600;
$font-bold-weight: 700;

$font-tiny: 1.5rem;
$font-small: 2rem;
$font-default: 2.5rem;
$font-medium: 3rem;
$font-large: 4.5rem;