:root {
    --red-accent-color: #F54B57;
    --blue-accent-color: #1D38ED;
    --white-color: #FFFFFF;
    --black-color: #141414;
    --light-black-color: #3E3E3E;
    --light-gray-color: #F5F5F5;
    --medium-gray-color: #C8C8C8;
    --dark-gray-color: #707070;
}